# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio / IntelliJ
.idea/
*.iml

# Local configs
local.properties
release.keystore
*.keystore
*.keystore.base64.txt

# OS junk
.DS_Store
